footer {
   background: #0b461a;
   color: white;
   font-family: 'Montserrat',
      sans-serif;
   margin-top: 200px;
   font-family: poppins;
}

.fflex {
   display: flex;
   justify-content: space-around;
   padding-top: 80px;
   width: 89%;
   margin: auto;
   padding-bottom: 80px;
}

.firstaxis {
   color: #ebebeb;
}

.firstaxis h3 {
   font-size: 17px;
}

.firstaxis p {
   font-size: 15px;
   line-height: 2;
   color: #bbbab9;
}

.socialicon img {
   width: 30px;
}

.firstaxis img {
   width: 100px;
}

.secondaxis {
   color: #ebebeb;
}

.secondaxis h3 {
   font-size: 17px;
}

.secondaxis p {
   font-size: 15px;
   line-height: 2;
   color: #bbbab9;
}

.socialicon {
   display: flex;
}

.cccontainer {
   text-align: center;
   margin: auto;
   padding-bottom: 40px;
}

.copyright {
   font-size: 14px;
   color: #bbbab9;
}

.dm {
   color: #e9e9e8;
}

.flogow img {
   width: 100px;
}

/*  MEDIA QUERY */

@media (max-width: 1024px) {


   .fflex {
      display: block;
      padding-left: 50px;
      padding-right: 50px;
      margin-top: 170px;
   }

   .cccontainer {
      text-align: left;
      margin: none;
      padding-bottom: 40px;
      padding-left: 50px;
      padding-right: 50px;
      line-height: 2.3em;
      font-size: 12px;
   }

   .secondaxis h3 {
      margin-bottom: 20px;
      margin-top: 20px;
   }

   footer {
      margin-top: 30px;
   }
}