body {
   background-color: white;
}

.flogow img {
   width: 100px;
}

.fa-solid fa-bars {
   width: 400%;

}

/* 
footer {
   background: #0b461a;
   color: white;
   font-family: 'Montserrat',
      sans-serif;
   margin-top: 200px;
   font-family: poppins;
}

.fflex {
   display: flex;
   justify-content: space-around;
   padding-top: 80px;
   width: 89%;
   margin: auto;
   padding-bottom: 80px;
}

.firstaxis {
   color: #ebebeb;
}

.firstaxis h3 {
   font-size: 17px;
}

.firstaxis p {
   font-size: 15px;
   line-height: 2;
   color: #bbbab9;
}

.socialicon img {
   width: 30px;
}

.firstaxis img {
   width: 100px;
}

.secondaxis {
   color: #ebebeb;
}

.secondaxis h3 {
   font-size: 17px;
}

.secondaxis p {
   font-size: 15px;
   line-height: 2;
   color: #bbbab9;
}

.socialicon {
   display: flex;
}

.cccontainer {
   text-align: center;
   margin: auto;
   padding-bottom: 40px;
}

.copyright {
   font-size: 14px;
   color: #bbbab9;
}

.dm {
   color: #e9e9e8;
}

.flogow img {
   width: 100px;
} */

/* footer {
   background: #0b461a;
   color: white;
}

.flogow img {
   width: 100px;
}

.contactflex {
   display: flex;
}

.footersecond img {
   width: 100px;
}

.footerfirst {
   width: 40%;
   margin: auto;
   text-align: top;
}

.footersecond {
   width: 60%;
   margin: auto;
   text-align: top;
}

.footerflex {
   display: flex;
   justify-content: space-between;
   padding-top: 80px;
   padding-bottom: 80px;
   margin: auto;
   align-items: center;
}

.contactflex img {
   width: 30px;
   margin-right: 10px;
} */

.container {
   width: 80%;
   margin: auto;
   align-items: center;
   position: relative;
}

.navflex {
   /* display: flex;
   justify-content: space-between;
   margin:auto;
   padding-top:40px;
   position:fixed; */

   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: auto;
}

/* .navflex.active{
  
   background:white;
   z-index:2;
} */

.navflex.active {
   --tw-bg-opacity: 1;
   --tw-drop-shadow: drop-shadow(0px 9px 18px rgba(0, 0, 0, .15));

   background-color: rgb(255 255 255/var(--tw-bg-opacity));
   position: fixed;
   top: 0;
   left: 0;
   background: white;
   width: 80%;
   /* background: #5d5b5b;
   width: 100%;
   /* margin: auto; */
   padding-left: 12%;
   padding-right: 12%;
   transition: 0.5s;
   z-index: 2;
}

.navlinks ul li {
   display: inline;
   list-style: none;
   font-size: 15px;
   font-weight: 500;
   letter-spacing: 0;
   padding-right: 45px;
   text-decoration: none;
}

.navlinks ul li.active {
   display: inline;
   list-style: none;
   font-size: 15px;
   font-weight: 500;
   letter-spacing: 0;
   width: 100%;
   padding-right: 45px;
   /* background:red; */
   text-decoration: none;
}


.heroflex h1 {
   font-family: 'Montserrat',
      sans-serif;
   font-weight: 410;
   line-height: 4rem;
   font-size: 50px;
}

.herobg {
   background-color: #FEFFD9;
   padding-bottom: 50px;
}

.heroflex {
   display: flex;
   padding-top: 60px;
   justify-content: space-between;
   /* flex-wrap: wrap; */
}

.heroflexh1 p {
   font-family: 'Montserrat',
      sans-serif;
   font-weight: 400;
   font-size: 23px;
   line-height: 2.3rem;
}

.herofleximg {
   /* flex-basis:40%; */
   margin-right: 10px;
}

.pinktext {
   color: #DB3731;
}

/* Second */

.second {
   position: relative;
}

.firstsecondflex {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   flex-wrap: wrap;
   margin-top: 125px;
   margin-bottom: 125px;
}

.square {
   width: 300px;
   height: 400px;
   background-color: #F9CB53;
   padding: 0;
   margin: 0;
}

.secondcontainer {
   width: 90%;
   margin: auto;
   align-items: center;
   position: absolute;
   bottom: -25px;
}

.secondflex {
   display: flex;
   /* padding-top: 60px; */
   justify-content: space-around;
   flex-wrap: wrap;
}

/* margin: auto;
   align-items: center; */
/* position: absolute; */
/* top:10px; */

.secondflexh2 {
   font-family: 'Montserrat',
      sans-serif;
   font-weight: 450;
   font-size: 35px;
}

.secondflexp {
   font-family: 'Montserrat',
      sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 2rem;
}

.secondflextext1 {
   display: none;
}

.secondfleximg img {
   width: 390px;
}

.orange img {
   width: 250px;
}

/* Third side */

.productlistbg {
   background-color: #FEFFD9;
   padding: 80px;
   font-family: 'Montserrat',
      sans-serif;
   font-weight: 100px;
   margin-bottom: 125px;
}

.products {
   margin: auto;
   text-align: center;
   font-family: 'Montserrat',
      sans-serif;
   font-weight: 100px;
}

.productcategories {
   width: 50%;
   display: flex;
   justify-content: space-around;
   margin: auto;
   text-align: center;
}

.productcategories button {
   color: black;
   margin-top: 20px;
   margin-bottom: 60px;
   border: 0.4px solid black;
   padding-top: 8px;
   padding-bottom: 8px;
   padding-left: 30px;
   padding-right: 30px;
   background-color: #FEFFD9;
   font-family: 'Montserrat',
      sans-serif;
   font-weight: 100px;
}

.one_e {
   margin: auto;
}

.one_e img {
   width: 140px;
}

.atc {
   margin: auto;
   align-items: center;
   color: black;
   margin-top: 20px;
   margin-bottom: 60px;
   border: 0.4px solid black;
   padding-top: 8px;
   padding-bottom: 8px;
   padding-left: 30px;
   padding-right: 30px;
   background-color: #FEFFD9;
}

.atc:hover {
   margin-top: 20px;
   margin-bottom: 60px;
   border: 1.5px solid black;
   padding-top: 9px;
   padding-bottom: 9px;
   padding-left: 30px;
   padding-right: 30px;
   background-color: #FEFFD9;

}

.productlistgrid {
   display: grid;
   /* width:90%; */
   justify-content: center;
   /* margin: auto; */
   /* grid-template-columns: repeat(4, 0.4fr); */
   gap: 80px;
   grid-template-columns: repeat(auto-fit, 190px);
   /* grid-template-rows: repeat(4, 0.4px); */
}

.plname {
   font-size: 18px;
   color: #0B4619;
   font-weight: 500;
   font-family: 'Montserrat',
      sans-serif;
   font-weight: 400;
   padding-top: 20px;
   padding-bottom: 20px;
}

.plprice {
   font-family: 'Montserrat',
      sans-serif;
   font-weight: 600;
   font-size: 14px;
   margin-top: -20px;
}

/* .bg11{
      width: 140px;
      height: 170px;
      padding:10px;
      border-radius: 20px;
      background-color: #DB3731;
}

.bg12{
   background-color:#CAC743;
   width: 140px;
   height: 170px;
   padding:10px;
   border-radius: 20px 50px;
}

.bg13 {
   background-color: #3E3C0B;
   width: 140px;
   height: 170px;
   padding: 10px;
   border-radius: 20px;
}

.bg14 {
   background-color: #E4504A;
   width: 140px;
   height: 170px;
   padding: 10px;
   border-radius: 20px 50px;
}


.bg15 {
   background-color: #CAC743;
   width: 140px;
   height: 170px;
   padding: 10px;
   border-radius: 20px;
}

.bg16 {
   background-color: #3E3C0B;
   width: 140px;
   height: 170px;
   padding: 10px;
   border-radius: 20px 50px;
}

.bg1{
      width: 140px;
      height: 170px;
      padding:10px;
      border-radius: 20px ;
      background-color: #CAC743;
}

.bg2 {
   width: 140px;
   height: 170px;
   padding: 10px;
   border-radius: 20px 50px;
   background-color: #DB3731;
}


.bg3 {
   width: 140px;
   height: 170px;
   padding: 10px;
   border-radius: 20px 50px;
   background-color: #F9CB53;
} */

li {
   list-style: none
}

/* .bg4 {
   width: 140px;
   height: 170px;
   padding: 10px;
   border-radius: 20px 50px;
   background-color: #F9CB53;
}

.bg5 {
   width: 140px;
   height: 170px;
   padding: 10px;
   border-radius: 20px 50px;
   background-color: #CAC743;
}

.bg6 {
   width: 140px;
   height: 170px;
   padding: 10px;
   border-radius: 20px 50px;
   background-color: #F94DB4;
}
 */


/* Fourth side */

.square2 {
   width: 300px;
   height: 400px;
   background-color: #F9CB53;
   padding: 0;
   margin: 0;
   /* align-items: right; */
   float: right
      /* position:absolute;
   left:1000px; */
}

/* .clr{
   clear:both;
} */

.fourthfirstflex {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   /* position:relative; */
}


/* .wbg{
   width: 100px;
   height: 100px;
   padding:30px;
   background-color:red;
   background-color: #CAC743;
} */

.watermelon {
   position: absolute;
   top: 500px;
   /* margin-bottom:450px; */
}

.fourthflex {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;

}

.fourthflexh3 {
   font-family: 'Montserrat',
      sans-serif;
   font-weight: 450;
   font-size: 25px;
}

.fourthflexp {
   font-family: 'Montserrat',
      sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 2rem;
}

.fourthcontainer {
   width: 98%;
   margin: auto;
   z-index: 100;
   position: absolute;
   top: 160px;
}

.fourthbg {
   position: relative;
   background-color: #ECF3EE;
   padding-top: 80px;
   padding-bottom: 60px;
}

.fourthfirstfleximg img {
   width: 100px;
}

.fruitbasket img {
   width: 390px;
}

/*  MEDIA QUERY */

@media (max-width: 770px) {

   .heroflex {
      display: block;
   }

   .heroflex h1 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      line-height: 4rem;
      font-size: 35px;
   }

   .heroflex h1 br {
      display: none;
   }

   .heroflexh1 p {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 19px;
      line-height: 2.3rem;
   }

   .heroflex p br {
      display: none;
   }

   .herofleximg img {
      /* flex-basis: 40%; */
      margin-top: 30px;
      margin-right: 0;
      width: 280px;
   }

   .second {
      margin-top: 130px;
      position: relative;
   }

   .secondflextext {
      display: none;
   }

   .secondcontainer {
      bottom: 20px;
   }

   .orange {
      display: none;
   }

   .secondflextext1 {
      display: block;
      margin-top: 80px;
      margin-bottom: 70px;
      width: 80%;
      margin: auto;
   }

   .secondflexh21 {
      font-family: 'Montserrat',
         sans-serif;
      font-weight: 450;
      font-size: 35px;
   }

   .secondflexp1 {
      font-family: 'Montserrat',
         sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 2rem;
   }

   /* Third Slide */

   .productcategories {
      width: 50%;
      display: block;

   }

   .productlistgrid {
      display: block;
   }

   .plname {
      text-align: center;
      font-size: 18px;
   }

   .one_e {
      margin: auto;
      text-align: center;
   }

   /* .bg1 {
      width: 200px;
      height: 250px;
      padding: 10px;
      border-radius: 20px;
      background-color: #CAC743;
      text-align: center;
      margin-left: -17px;
   }

 .bg1 img{
   width:200px;
   margin-right: 80px;
}

   .bg11 {
     width: 200px;
     height: 250px;
      padding: 10px;
      border-radius: 20px;
      background-color: #DB3731;
      margin-left: -17px;
   }

   .bg11 img {
      width: 200px;
   }
   
   .bg12 {
      background-color: #CAC743;
      width: 200px;
      height: 250px;
      padding: 10px;
      border-radius: 20px 50px;
      margin-left: -17px;
   }

   .bg12 img {
      width: 200px;
   }
   
   .bg13 {
      background-color: #3E3C0B;
      width: 200px;
      height: 250px;
      padding: 10px;
      border-radius: 20px;
      margin-left: -17px;
   }

   .bg13 img {
      width: 200px;
   }
   
   .bg14 {
      background-color: #E4504A;
      width: 200px;
      height: 250px;
      padding: 10px;
      border-radius: 20px 50px;
      margin-left: -17px;
   }
   
   .bg13 img {
      width: 200px;
   }
   
   .bg15 {
      background-color: #CAC743;
      width: 200px;
      height: 250px;
      padding: 10px;
      border-radius: 20px;
      margin-left: -17px;
   }

   .bg15 img {
      width: 200px;
   }
   
   .bg16 {
      background-color: #3E3C0B;
      width: 200px;
      height: 250px;
      padding: 10px;
      border-radius: 20px 50px;
      margin-left: -17px;
   }

   .bg16 img {
      width: 200px;
   }
   
   .bg2 {
      width: 200px;
      height: 250px;
      padding: 10px;
      border-radius: 20px 50px;
      margin-left: -17px;
      background-color: #DB3731;
   }
   
   .bg2 img {
      width: 200px;
   }

   .bg3 {
      width: 200px;
      height: 250px;
      padding: 10px;
      border-radius: 20px 50px;
      margin-left: -17px;
      background-color: #F9CB53;
   }

   .bg13 img {
      width: 200px;
   }
   
   li {
      list-style: none
   }
   
   .bg4 {
      width: 200px;
      height: 250px;
      padding: 10px;
      border-radius: 20px 50px;
      background-color: #F9CB53;
      margin-left: -17px;
   }

   .bg4 img {
      width: 200px;
   }
   
   .bg5 {
      width: 200px;
      height: 250px;
      padding: 10px;
      border-radius: 20px 50px;
      background-color: #CAC743;
      margin-left: -17px;
   }

   .bg5 img {
      width: 200px;
   }
   
   .bg6 {
      width: 200px;
      height: 250px;
      padding: 10px;
      border-radius: 20px 50px;
      background-color: #F94DB4;
      margin-left: -17px;
   }

   .bg6 img {
      width: 200px;
   } */

   /* Fourth */

   .fourthflex {
      display: block;
   }

   .productlistalign {
      margin: auto;
      text-align: center;
      padding-right: 30px;
   }

   .fruitbasket img {
      margin-top: 70px;
      width: 360px;
   }

}


@media (max-width: 770px) {
   .pimgc h4 img {
      width: 100px;
      /* height: 100px; */
      /* width: 100px; */
   }
}